.vue-treeselect {
	border-radius: 2px;
}
.vue-treeselect__open {
	&.vue-treeselect__control {
		border: 1px solid rgb(18, 120, 246) !important;
	}
}
.vue-treeselect__single-value {
	color: #fafafa;
}
.vue-treeselect__control {
	color: #fafafa;
	background-color: #181b24;
	border: 1px solid #393b4a;
	border-radius: 2px;
}
.vue-treeselect__menu {
	padding: 0;
	border: none !important;
	box-shadow: none !important;
}
.vue-treeselect__option {
	background-color: #2d2f38;
	&:hover {
		color: rgb(18, 120, 246) !important;
		background-color: #22242b !important;
	}
}
.vue-treeselect--single {
	&:hover,
	.vue-treeselect__option--selected {
		color: rgb(18, 120, 246) !important;
		background-color: #22242b !important;
	}
}
