@import 'conf.scss';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
		Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	font-size: 12px;
	font-variant: tabular-nums;
	line-height: 1.5;
	color: $baseColor;
	background-color: #eff1f4;
	-webkit-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';
}

p,
h1,
h2,
h3,
ul,
li,
body,
html {
	margin: 0;
}

input {
	outline: none;
}

ul,
li {
	padding: 0;
	list-style: none;
}

* {
	box-sizing: border-box;
}
